//Colors
$white       : #FFFFFF;
$black       : #000000;
$blue-theme  : #5c858d;
$blue-theme-2: #3cb4c4;
$yellow      : #F8C100;
$gray        : #ededed;
$mq-mobile-portrait   : 320px  !default;
$mq-mobile-landscape  : 480px  !default;
$mq-tablet-portrait   : 768px  !default;
$mq-tablet-landscape  : 980px  !default;
$mq-desktop           : 1200px !default;


//MOBILE
// Both portrait and landscape
@mixin mobile-only {
  @media (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the portrait width of the phone
// Since it's the smallest query it doesn't need a min
@mixin mobile-portrait-only {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything up to and including the mobile portrait
@mixin mobile-portrait-and-below {
  @media (max-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everything above and including the mobile portrait
@mixin mobile-portrait-and-up {
  @media (min-width : $mq-mobile-portrait) {
    @content;
  }
}

// Everthing larger than a portrait mobile up until mobile landscape
@mixin mobile-landscape-only {
  @media only screen and (min-width : $mq-mobile-portrait + 1) and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything up to and including the mobile landscape width
@mixin mobile-landscape-and-below {
  @media only screen and (max-width : $mq-mobile-landscape) {
    @content;
  }
}

// Everything above and including the mobile landscape width
@mixin mobile-landscape-and-up {
  @media only screen and (min-width : $mq-mobile-portrait + 1) {
    @content;
  }
}

// tablet
// ------------------------------

// Both the portrait and landscape width of the tablet
// Larger than a landscape mobile but less than or equal to a landscape tablet
@mixin tablet-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than mobile landscape up until the portrait width of the tablet
@mixin tablet-portrait-only {
  @media only screen and (min-width : $mq-mobile-landscape + 1) and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything below and including the portrait width of the tablet
@mixin tablet-portrait-and-below {
  @media only screen and (max-width : $mq-tablet-portrait) {
    @content;
  }
}

// Everything above and including the portrait width of the tablet
@mixin tablet-portrait-and-up {
  @media only screen and (min-width : $mq-mobile-landscape + 1) {
    @content;
  }
}

// Larger than portrait but less than or equal to the landscape width
@mixin tablet-landscape-only {
  @media only screen and (min-width : $mq-tablet-portrait + 1) and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Up to and including the tablet landscape
@mixin tablet-landscape-and-below {
  @media only screen and (max-width : $mq-tablet-landscape) {
    @content;
  }
}

// Everything larger than portrait tablet
@mixin tablet-landscape-and-up {
  @media only screen and (min-width : $mq-tablet-portrait + 1) {
    @content;
  }
}

// desktop
// ------------------------------

// Everything larger than a landscape tablet
@mixin desktop-and-up {
  @media only screen and (min-width : $mq-tablet-landscape + 1) {
    @content;
  }
}

// Everything below and including the desktop 
@mixin desktop-and-below {
  @media only screen and (max-width : $mq-desktop) {
    @content;
  }
}

// Everything larger than a landscape tablet but less than or equal to the desktop
@mixin desktop-and-below {
  @media only screen and (min-width : $mq-tablet-landscape + 1) and (max-width : $mq-desktop) {
    @content;
  }
}

// retina
// ------------------------------

// Retina screens have a 1.5 pixel ratio, not 2
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    @content;
  }
}

@include mobile-only() {
  body {
    &:before {
      width: 30%;
      height: 5px;
    }
  }
  .navClient {
    top: 0px;
    background-color: $blue-theme-2 !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0.075) !important;
    .navbar-brand {
      img {
        max-width: 120px;
      }
    }    
  }
  .carousel-caption {
    left: 5%;
    right: 5%;
    bottom: 0;    
    .caps {
      h5 {
        margin: 1.5rem 0;
        font-size: 0.8rem !important;
      }
      h2 {
        font-size: 1.4rem !important;
        line-height: 1.4rem !important;
        letter-spacing: 0.1rem !important;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }  
  section {
    padding: 50px 0;
    position: relative;
    &:after {
      top: 62px;
    }
    h6 {
      font-size: 1.4rem;
      padding: 0 0.5rem;
    }
  }

  .quem-somos {
    .mt-5 {
      margin-top: 1.0rem !important;
    }
  }
  .mercado {
    padding-bottom: 0;
    &:after {
      top: 13px !important;
    }
    .mt-5 {
      margin-top: 1.0rem !important;
    }
    .mt-4 {
      margin-top: 0.2rem !important;
    }
    .logosEmp {      
      .col {
        img  {
          max-width: 40px;
          &.vert {
          max-height: 40px;
          }
        }    
      }
    }
  }
  .card {
    margin-bottom: 1.5rem;
    .card-title {
      font-size: 1.5rem !important;
    }
    ul {
      li {
        font-size: 0.9rem !important;
      }
    }
  }

  .bootcamp {
    .bootList,
    .processo {
      display: block;
      .col {
        text-align: center;
        margin-bottom: 2.5rem;
        h4 {
          font-size: 1.4rem !important;
          height: auto;
        }
        p {
          font-size: 0.9rem;
        }
        .bdg {
          font-size: 1.2rem !important;
        }
      }
    }
  }
  .whatsapp {
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 1.4rem;
    top: 10px !important;
    z-index: 99999;
    left: 200px;
  }
}
@include mobile-portrait-only() {}