//Colors
$white       : #FFFFFF;
$black       : #000000;
$blue-theme  : #5c858d;
$blue-theme-2: #3cb4c4;
$yellow      : #F8C100;
$gray        : #ededed;
$wht         : #25d366;

//Fonts
@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:600&display=swap);

//Mixins Fonts
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {

      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1000px;
$min_font: 16px;
$max_font: 22px;

//Mixins Border-radius
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

//shadow
@mixin box-shadow () {
	box-shadow: 0 .125rem .25rem rgba(0,0,0,0.075) !important;
}

//Placeholder
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $black !important;  
  font-size: 0.8rem;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $black !important;  
  font-size: 0.8rem;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $black !important;  
  font-size: 0.8rem;
}
:-moz-placeholder { /* Firefox 18- */
  color: $black !important;  
  font-size: 0.8rem;
}

//Btn
a {
  transition: 0.3s;
}
.btn-default {
  background-color: $yellow;
  color: $blue-theme;
  @include border-radius (0);  
  &:hover {
    box-shadow: 0 0.3rem 0.3rem rgba(0,0,0,0.2) ;    
  }  
}

.lis-default {
  list-style: none;
  margin: 0 0 1.5rem;
  padding: 0;
}

//Blocos
.h-40 {
  height: 30px;
}

.destacar {
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
}

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
	font-family: 'Rubik', sans-serif; 
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 10px;
    background-color: $yellow;    
    z-index: 2;
  }
}

//Nav
.navClient {
  background-color: transparent !important;
  top: 20px;
  transition: 0.3s;
  .navbar-brand {
    img {
      max-width: 280px;
    }
  }
  .navbar-nav {
    .nav-link {
      color: $white;
      font-weight: 300;
      &:hover {
        color: $yellow;    
      }
      &.mtc {
        background: $yellow;
        @include border-radius(5px);
        &:hover {
          background: $blue-theme;
          color: $white;    
        }
      }
    }
  }
  &.fixed-client {
    transition: 0.3s;
    top: 0;
    background-color: $blue-theme-2 !important;
    @include box-shadow ();
    &:before {  
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;
      height: 3px;
      background-color: $yellow;    
      z-index: 2;      
    }
    .navbar-brand {
      padding-top: 0;
      padding-bottom: 0;
      img {
        max-width: 160px;
      }
    }
  }
}


//Carousel
#sliderSoul {
  img {
     // -webkit-filter: grayscale(100%);
     // filter: grayscale(100%);
     // opacity: 0.6;
  }
  .carousel-item {
    position: relative;    
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      
      background-color: rgba($blue-theme-2, 0.8);
    }
    .carousel-caption {
      text-align: left;
      display: flex;
      align-items: center;

      .caps {
        h5 {
          text-transform: uppercase;
          font-family: 'Josefin Sans', sans-serif;
          font-weight: 600;
          span {
            border-bottom: 4px solid $yellow;
          }
        } 
        h2 {
          text-transform: uppercase;
          font-family: 'Poppins', sans-serif;
          font-weight: 900;         
          font-size: 5.8vw;
          line-height: 5.8vw;
          letter-spacing: 0.8rem;
        } 
        p {
          max-width: 800px;
          font-weight: 300;          
        } 
      }     
    }
  }  
}

section {
  padding: 100px 0;
  position: relative;
  &:after {
    content: '';
    top: 140px;
    width: 100%;
    height: 3px;
    background-color: $yellow;
    position: absolute;
    z-index: 0;
  }  
  h2 {}
  h6 {
    font-weight: 700;
    font-size: 4.5vw;
    background-color: $white;
    position: relative;
    padding: 0 1.0rem;    
    display: table;    
    z-index: 2;
  }
  p {
    font-weight: 300;
    font-size: 0.95rem;
    span {
      border-bottom: 3px solid $yellow;
    }
  }
  h5 {
    font-weight: 700;
  }
}

//newsletter
#newsletter {
  padding: 50px 0;
  background: $blue-theme-2;
  p {
    color: $white;
  }
  &:after {
    display: none;
  }
  h2 {
    color: $white;
    margin-bottom: 0.5rem;
    border-left: 20px solid $yellow;
    padding-left: 0.5rem;
    font-weight: 700;
    font-size: 1.2rem;
  }
}

textarea {
  &#message {
    height: 168px;
  }
}

//Quem sonos
.quem-somos {
  strong,
  h4 {
    font-size: 1rem;
    font-weight: 700;
  }
  ul {
    margin: 0 0 0 15px;
    padding: 0;
    li {
      font-size: 1.1rem;
      font-weight: 300;
    }
  }
  .ask {
    font-size: 1.8rem;
    font-weight: 300;
    font-style: italic;
    color: $blue-theme-2;
  }
  a {
    // display: none;
    color: $blue-theme-2;
  }
}

//Team
.team,
.executivos {
  position: relative;
  overflow: hidden;
  padding-bottom: 0;
  display: none !important;
  &:before {
    position: absolute;
    top: 430px;
    content: "LIDERANÇA";
    color: $gray;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;  
    font-size: 33.8vw;
    line-height: 5.8vw;
    letter-spacing: 0.8rem;    
    opacity: 0.5;   
  }
  .order-md-1 {
    padding-top: 40px;
  }
  h4,
  h5 {
    border-left: 20px solid $yellow;
    padding-left: 0.5rem;
    font-weight: 700;
    span {
      display: block;
      font-size: 0.8vw;
      font-weight: 300;
    }
  }
  .teamFoto {
    margin-bottom: 20px;          
  }
}
.executivos {
  padding: 50px 0;
  &:after {
    display: none;
  }
  &:before {
    content: "EXECUTIVOS";
    top: 280px;
  }
  .colab {
    display: flex;
    img {
      min-width: 180px;            
    }
    .infos {
      margin-left: 1.0rem;      
    }
    &.rgt {
     .infos {
        margin-left: 0;      
        margin-right: 1.0rem;      
      } 
    }
  }
}

//Bootcamp
.bootcamp {
  padding-bottom: 30px;
  .bootList {
    p {
      font-size: 0.7rem;
    }
  }
  h4 {
    font-size: 1.0rem;
    font-weight: 700;
  }
  .ementa {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    .card {
      @include border-radius (0);
      position: relative;
      box-shadow: 0.2rem 0.8rem 0.4rem rgba(0,0,0,0.0755);
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        
        background-color: rgba($blue-theme-2, 1.0);
      }      
      img {
         -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
         filter: grayscale(100%);
         opacity: 0.22;
      }
      .card-img-overlay {
        padding: 0.8rem;
        color: $white;
        .card-title {
          margin-bottom: .5rem;
          border-left: 20px solid $yellow;
          padding-left: 0.5rem;
          font-weight: 700;
          font-size: 1.0rem;
        }
        ul {
          padding-left: 20px;
          margin-top: 0;
          li {
            font-size: 1.0vw;
          }
        }
      }
    }
  }
  .processo {
    position: relative;
    &:before {
      content: '';
      top: 28px;
      width: 100%;
      height: 4px;
      background-color: $yellow;
      position: absolute;
      z-index: -1;
    }  
    .bdg {
      width: 60px;
      height: 60px;
      text-align: center;
      line-height: 60px;
      font-size: 2.0vw;
      font-weight: 700;      
      color: $white;
      margin: 0 auto;   
      background-color: $blue-theme-2;
      @include border-radius(60px);     
      z-index: 1;
      position: relative;  
      margin-bottom: 1.0rem;    
      &:after,
      &:before {
        content: '';
        position: absolute;
        width: 80px;
        height: 80px;

        top: -10px;
        left: -10px;
        @include border-radius(80px);  
        z-index: 2;
        background-color: $yellow;
      } 
      span {
        position: relative;      
        z-index: 4;
      }
      &:after {
        width: 60px;
        height: 60px;
        top: 0;
        left: 0;
        z-index: 3;
        background-color: $blue-theme-2;
        @include border-radius(60px); 
        border: 2px solid $blue-theme; 
      }

    }
    h4 {
      font-weight: 700;
      font-size: 1.4vw;
      line-height: 60px;
      height: 80px;
      margin-bottom: 0;
    }
    p {
      font-size: .7rem;
    }
    .col {      
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(5) {        
        h4 {
          line-height: normal;
        }  
      }
    }
  }
}

//Evento
.localEvento {
  img {
    width: 20px;
    height: auto;
  }
  a {
    font-weight: 700;
    color: $black;
    &:hover {
      color: $blue-theme-2;
      text-decoration: none;
    }
  }
  p {
    margin-bottom: 0.4rem;
  }
}
//Map
.map {
  iframe {
    width: 100%;
    padding: 0;
    margin: 1.0rem 0 0 0;
    border-top: 16px solid $yellow;
    border-bottom: 8px solid $blue-theme-2;
    position: relative;
    -webkit-filter: grayscale(1%);
    filter: grayscale(1%);    
    transition: 0.2s;
    position: relative;
    z-index: 0;
    &:hover {
      -webkit-filter: grayscale(40%);
      filter: grayscale(40%);
    }    
  }
  p {
    padding-top: 0;
    margin-top: 0;
    font-size: 0.6rem;
    text-align: center;
  }
}

//Mercado
.mercado {
  padding-top: 0;
  &:after {
    top: 40px;   
  }  
}

//logos empresas
.empresas-logs {
  .logosEmp {
    display: flex;
    justify-content: space-beteween;
    align-items: center;    
    padding-bottom: 1.5rem !important;    
    .col {
      text-align: center;      
      img  {
        width: auto;
        max-width: 140px;
        &.vert {
        height: auto;
        max-height: 60px;
        }
      }    
    }
  }
}

footer {
  margin-bottom: 0;
  border-bottom: 8px solid $blue-theme-2;
  text-align: center;
  h3 {
    font-size: 0.9rem;
  }
  .socialFooter {
    list-style: none;
    padding: 0 0 50px 0;
    margin: 0;
    li {
      display: inline-block;
      margin: 0.5rem;
       img {
        height: 30px;
        width: auto;        
       }
    }
  }
  p {    
    font-size: 0.7rem;
  }
}

.modal-backdrop { 
  background-color: $yellow; 
} 
.modal-content {
  @include border-radius (0);
  border: 0;
  background: $blue-theme-2;
  color: $white;
  text-transform: uppercase;
  padding: 1.0rem;
  text-align: center;
  box-shadow: 0 0.3rem 0.3rem rgba(0,0,0,0.2) ;    
  .close {
    background: $yellow;   
    color: $white !important;
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    &:hover {
      background: $yellow !important;
      opacity: 1 !important;
      color: $blue-theme-2 !important;
    }
  }
  .title {    
    font-weight: 600;
    font-size: 2.0rem;
    line-height: 2.2rem;
    margin: 0.8rem 0;
  }
  .btn-default {
    margin-bottom: 1.0rem;
  }
}

.whatsapp {
  background: $wht;
  width: 60px;
  height: 60px;
  @include border-radius(100px);
  @include box-shadow();
  text-align: center;
  line-height: 60px;
  position: fixed;
  display: block;
  right: 50px;
  bottom: 100px;
  font-size: 1.9rem;  
  transition: 0.2s;
  z-index: 9;
  &:hover {
    background: $yellow;
    transition: 0.2s;
  }
}

.blue {
  background: $blue-theme-2;
  color: $white;
  padding: 0.8rem;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      strong {
        font-size: 0.8rem;
        line-height: 0.9rem;
      }
      p {
       font-size: 0.8rem; 
      }
    }
  }
}
.help-block {
  &.with-errors {
    .list-unstyled {
    font-size: 0.4rem;
    color: red;
    margin: 0.2rem 0;
    @include border-radius(2px);
    background: #ffd9d9;
    display: table;
    padding: 0.2rem;
    }
  }
}

.desenprego-sec {
  img {
    height: 120px;
    width: auto;
  }
}

//form mart
#formulario_matricula {
  background: $blue-theme-2;
  padding: 1.0rem 0.8rem;
  label {
    color: $white;
    font-size: 0.8rem;
  }
}

#msgSubmit,
#msgSubmit_mat {
  font-size: 0.9rem;
  &.text-success,
  &.text-danger {
    background: #ffd9d9;
    padding: 1.0rem 0.5rem;
  }
  &.text-success {
    background: #d9ffe0;
  }
}

//Media Queries
@import 'client_style_queries.scss';